/* DEVELOPER:Paul Alvarado, IS117-011, Summer 2023 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;   /* stack the content vertically */
    min-height: 100vh;
    position: relative;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    font-size: 18px;
    text-align: center;
    font-family: Fantasy, sans-serif;
    padding: 5px 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.navbar a:hover {
    color: lime;
    text-shadow: 0 0 5px lime;
}
.header {
    text-align: center;
    background-image: url('https://wallpaperaccess.com/full/5638801.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
}
.header img {
    height: 75px; /* adjust as needed */
}
.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffd700;
    text-align: center;
    padding: 10px;
    font-size: 3em;
    text-shadow: 2px 2px #333;
}


footer {
    background-color: #111;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
}
.session-title {
    color: #013220; /* Yellow color similar to Star Wars theme */
    font-family: 'Arial', sans-serif; /* Change this to any font you prefer */
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

.session-title::after {
    content: "";
    background: linear-gradient(90deg, transparent, #013220, transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    animation: focus-effect 2s infinite;
}

.session-title2 {
    color:  #0ccdf3; /* Yellow color similar to Star Wars theme */
    font-family: 'Arial', sans-serif; /* Change this to any font you prefer */
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

.session-title2::after {
    content: "";
    background: linear-gradient(90deg, transparent, #0ccdf3 , transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    animation: focus-effect 2s infinite;
}

.session-title3 {
    color:  #990000; /* Yellow color similar to Star Wars theme */
    font-family: 'Arial', sans-serif; /* Change this to any font you prefer */
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

.session-title3::after {
    content: "";
    background: linear-gradient(90deg, transparent, #990000  , transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    animation: focus-effect 2s infinite;
}

@keyframes focus-effect {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(100%);
    }
}
.img{
    width: 30%;
    height: 100px;
    position: relative;
    float: left;
}

p{
    font-size: 13pt;
}
iframe{
    -ms-transform: translateX(0%) translateY(-50%);
    margin: auto;
    float: left;
    height: 350px;
}