@font-face {
    font-family: 'Star Jedi';
    src: url('fonts/StarJedi.woff2') format('woff2'),
    url('fonts/StarJedi.woff') format('woff'),
    url('fonts/Starjedi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffd700;
    text-align: center;
    padding: 10px;
    font-size: 3em;
    text-shadow: 2px 2px #333;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;   /* stack the content vertically */
    min-height: 100vh;
    background:url("https://wallpaperaccess.com/full/39632.jpg") no-repeat center;
    background-size: cover;

}

.navbar a {
    float: left;
    color: #f2f2f2;
    font-size: 18px;
    text-align: center;
    font-family: Fantasy, sans-serif;
    padding: 5px 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.navbar a:hover {
    color: lime;
    text-shadow: 0 0 5px lime;
}
.header {
    text-align: center;
    background-image: url('https://wallpaperaccess.com/full/5638801.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
}
.header img {
    height: 75px; /* adjust as needed */
}


footer {
    background-color: #111;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

h2,h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffd700;
    font-size: 3em;
    text-shadow: 2px 2px #333;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffd700;
    font-size: 1em;
    text-shadow: 2px 2px #333;
}
.form-control,
.btn {
    background-color: #333333;
    color: #cccccc;
}

.form-control:focus {
    background-color: #444444;
    color: #ffffff;
    border-color: #47f608;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 2, 2, 0.25);
}

.btn {
    border-color: #007bff;
}

.btn:hover {
    background-color: #444444;
}

